// Text Style Mixin
@mixin text_style ($font-weight, $font-size, $line-height, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-style: normal;
}

// Light Mode Element
#Light .sl_grp1 {
    .sl_header {
        color: #343541;
        font-weight: 700;
    }


}

// Slider Cards Container
.mySwiper {
    padding-top: 91px;
    height: 65vh;
    overflow: hidden;

}


// Slider Text Header
.sl_header {
    @include text_style(600, 16px, 20px, #f5f5f5);
    z-index: 1;

}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

    .Navgroup {
        display: flex;
    }

}


// swiper arrow buttons
.swiperNavNext,
.swiperNavPrev {

    cursor: pointer;
    font-size: 32px;
    color: rgba(235, 235, 245, 0.6);
}

.swiperNavNext {
    margin-right: 0;
    order: 2;
}

.swiperNavPrev {
    margin-right: 20px;
    order: 1;
}


// Light Mode Element
#Light .mySwiper {
    .sl_header {
        color: #343541;
        font-weight: 700;
    }

    .swiperNavNext,
    .swiperNavPrev {
        color: #343541;
        opacity: 0.6;
    }
}

//Responsive BreakPoints

//Large Screen Sizes
@media (min-width: 601px) {
    // .wrapper {
    //     display: none;
    // }
}

// Mobile Breakpoints
@media (max-width: 600px) {
    .sl_grp1 {

        // Slider Arrow icons
        .sl_arrow2 {
            font-size: 20px;

        }
    }



}