// Text Style Mixin
@mixin text_style ($font-weight, $font-size, $line-height, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-style: normal;
}

// Light Mode Element
#Light .sl_grp1 {
    .sl_header {
        color: #343541;
        font-weight: 700;
    }


}

// Slider Cards Container
.mySwiper {
    position: relative;
    top: 30px;
    height: 65vh;
    overflow: hidden;


}



//Card
.items_flex {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    top: 17%;
    width: 100%;

    // Card Image
    .sl_img {
        background: #2F2F2F;
        border-radius: 6px;
        height: max(210px, 19vw);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

    }

    // Card Title 
    .sl_text {
        cursor: pointer;
        @include text_style(600, 16px, 20px, #FFFFFF);
    }

    // Card Tag
    .sl_text2 {
        @include text_style(600, 16px, 20px, rgba(235, 235, 245, 0.6));

    }

    // Price
    .sl_price {
        @include text_style(600, 16px, 20px, #FFFFFF);
    }
}



// Light Mode Element
#Light .items_flex {
    .sl_text {
        color: #343541;
    }

    .sl_text2 {
        color: #0061FD;
    }

    .sl_price {
        color: #343541;
    }
}

// Slider Text Header
.sl_header {
    @include text_style(600, 16px, 20px, #FFFFFF);
    z-index: 1;
    position: absolute;
    top: 5%;
}



// swiper arrow buttons
.swiperNavNext,
.swiperNavPrev {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 29px;
    color: rgba(235, 235, 245, 0.6);
}

.swiperNavNext {
    margin-right: 0;
}

.swiperNavPrev {
    margin-right: 40px;
}

// Light Mode Element
#Light .mySwiper {
    .sl_header {
        color: #343541;
        font-weight: 700;
    }

    .swiperNavNext,
    .swiperNavPrev {
        color: #343541;
        opacity: 0.6;
    }
}

//Responsive BreakPoints

//Large Screen Sizes
@media (min-width: 601px) {
    // .wrapper {
    //     display: none;
    // }
}

// Mobile Breakpoints
@media (max-width: 600px) {
    .sl_grp1 {

        // Slider Arrow icons
        .sl_arrow2 {
            font-size: 20px;

        }
    }

    //Card
    .items_flex {

        .sl_text {
            font-size: .85rem;
        }

        .sl_text2 {
            font-size: .85rem;
        }

        .sl_price {
            font-size: .85rem;
        }
    }


}