.topnav {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
}

// All nav text element
.nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .active {
        background: #0061fd;
        color: #ffffff;
    }
}

#Light .nav_list {
    .active {
        background: #0061fd;
        color: #ffffff;
    }
}

// navlist element on the left
.nav_row {
    padding: 8px;
    border-radius: 143px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);

    &:hover {
        color: #ffffff;
        cursor: pointer;
    }
}

// Light Mode elements
#Light .nav_row {
    color: #343541;

    &:hover {
        color: #0061fd;
    }
}

//Temporary Format for active
#Light #temp {
    color: #ffffff;
}

// Element on the right
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    // Alert icon
    .icon2 {
        padding-right: 32px;
        padding-top: 8px;
        color: rgba(235, 235, 245, 0.6);
    }

    // Search container
    .search {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 8px;
        background: #2f2f2f;
        border-radius: 24px;
        width: 318px;
        height: 36px;

        .icon_2 {
            flex: none;
            order: 0;
            flex-grow: 0;
            color: rgba(235, 235, 245, 0.6);
        }

        .text2 {
            border: none;
            background: none;
            outline: none;
            width: 85%;
            height: 23px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: rgba(235, 235, 245, 0.6);
        }
    }
}

// Light Mode Elements
#Light .right {
    .icon2 {
        color: #343541;
    }

    .search {
        background: #d9d9e3;

        .icon_2 {
            color: #343541;
        }

        .text2 {
            color: #343541;
        }
    }
}

/* Mobile Classes*/

//flex Container
.mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 5px 25px 0px;
    background-color: #141414;
}

//DropDown Menu
.drop {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 18px;
    color: rgba(235, 235, 245, 0.6);
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    background-color: #141414;
    padding: 4px 17%;
    height: 100px;
    width: 100%;

    div {
        background-color: rgba(235, 235, 245, 0.6);
        height: 1px;
        width: 100%;
    }

    li {
        cursor: pointer;
        padding: 2px;
        font-weight: 600;
        font-size: 1rem;
        color: rgba(235, 235, 245, 0.6);
        list-style: none;
        border-radius: 4px;
        margin-bottom: 3px;
        display: flex;
        justify-content: flex-start;

        &:hover {

            color: #ffffff;
        }
    }
}

#Light .menu {
    background-color: #f7f7f8;

    li {
        color: #343541;
    }
}

// mobile search button
.msearch {
    color: rgba(235, 235, 245, 0.6);
    cursor: pointer;
    margin-top: 7px;
}

// Mobile Light Classes
#Light .mobile {
    background-color: #f7f7f8;
}

#Light .drop {
    color: #343541;
}

#Light .msearch {
    color: #343541;
}

/* End of Mobile Classes*/

//Responsive BreakPoints

//Large Screen Sizes
@media (min-width: 601px) {
    .mobile {
        display: none;
    }
}

// Mobile Breakpoints
@media (max-width: 600px) {
    .right {
        display: none;
    }

    .nav_list {
        display: none;
    }
}