.section {
  position: relative;
  left: 252px;
  min-height: 140vh;
  min-height: 140dvh; // mobile compactable
  width: calc(100% - 252px); // 100% of the parent element -252px
  padding: 10px 48px 10px 14px;
  background-color: #141414;

}

// Theme Switch
#Light .section {
  background-color: #f7f7f8;

}

// Placeholder for Page Text
.container {
  display: flex;
  justify-content: center;
  padding-top: 40vh;
}

// page temporary styles
.pg_text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
  font-size: 55px;
  color: rgb(54, 53, 53);


}

@media only screen and (max-width: 1068px) {
  .section {
    position: relative;
    left: 70px;
    width: calc(100% - 70px);
  }
}

// Mobile Breakpoint
@media (max-width: 600px) {
  .section {
    padding: 15px 15px 10px 15px;
  }

}