// Text Style Mixin
@mixin text_style ($font-weight, $font-size, $line-height, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-style: normal;
}

//Card
.Card_con {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 187px;




    // Card Image
    .Card_img {

        background: #2F2F2F;
        border-radius: 4px;
        height: max(200px, 17vw);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    // Card Title 
    .Card_text {
        padding-top: 15px;
        cursor: pointer;
        @include text_style(600, 15px, 19.6px, #f5f5f5);
    }


    //genre row
    .cat_row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    // Card Tag
    .Card_text2 {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        width: fit-content;
        padding: 5px 10px;
        @include text_style(400, 13px, 15px, #f5f5f5);

    }

    // Price
    .Card_price {
        @include text_style(600, 14px, 19.6px, #f5f5f5);
    }
}

// Light Mode Element
#Light .items_flex {
    .Card_text {
        color: #343541;
    }

    .Card_text2 {
        color: #0061FD;
    }

    .Card_price {
        color: #343541;
    }
}